body {
    background-color: #daf0f3;
    font-family: 'Verdana', sans-serif;
}


.header h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px #000000;
}

.header p {
    font-size: 1.3rem;
}


#curiosidades {
    background-color: #b2ebf2;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}


.contato {
    background-color: #4dd0e1;
    color: white;
}

.contato .btn {
    background-color: #006064;
    border: none;
}

.contato .btn:hover {
    background-color: #004d40;
}


.footer {
    background-color: #006064;
    color: white;
}

/* O css aqui, esta definindo o estilo de uma página com tons de azul. 
Usa uma fonte padrão e aplica destaque ao título com sombra. 
A seção de curiosidades tem fundo claro e os cards ganham zoom ao passar o mouse. 
A área de contato tem fundo mais escuro, texto branco e botões com efeito ao passar o mouse. */
